{

  "CLOUDANT_CONNECTION_URL": "6eafcd0e-7568-4669-a2a2-9a99b586af4b-bluemix.cloudant.com",
  "CLOUDANT_USERNAME": "6eafcd0e-7568-4669-a2a2-9a99b586af4b-bluemix",
  "CLOUDANT_PASSWORD": "badd4c6b2cc0062620c627bc8f2ff7e6d9a2b2d62400bb7a602c963c53889968",
  "CLOUDANT_ANALYSIS_DB_NAME": "analysis-db",
  "CLOUDANT_CONVERSATION_STATE_DB_NAME": "conversation-state-db",

  "CONVERSATION_API_URL": "https://gateway.watsonplatform.net/conversation/api",
  "CONVERSATION_API_USER": "e9ef6483-f372-4447-81ca-5747c77dfb77",
  "CONVERSATION_API_PASSWORD": "L1WM1iJUGobN",
  "CONVERSATION_CLASSIFICATION_WORKSPACE_ID": "4aa4ffbd-1536-4689-9431-dbfb36408212",

  "NLU_API_USER": "4b30022a-b43e-4ecb-a2a8-892603ff4657",
  "NLU_API_PASSWORD": "V1wwPV7xeuTg",

  "TONE_ANALYZER_USER": "4374e7b1-1a17-4842-b264-c175deadcbbb",
  "TONE_ANALYZER_PASSWORD": "bSDCcODQZuxE",

  "TWITTER_CONSUMER_KEY": "HBkxKjJewWJRP0TkujSSgHIvm",
  "TWITTER_CONSUMER_SECRET": "dKZZVqITFV6fPgIq0SlQha7aNXH5mraAKgdsEpw1U5Ulxy7Zil",
  "TWITTER_ACCESS_TOKEN": "oKzjtIYjEFJLMU07GRc7WhaZA3duWYvgabzruGa3rWfzU",
  "TWITTER_ACCESS_SECRET": "oKzjtIYjEFJLMU07GRc7WhaZA3duWYvgabzruGa3rWfzU",
  "TWITTER_LISTEN_FOR": "",
  "TWITTER_FILTER_FROM": "",
  "TWITTER_FILTER_CONTAINING": "",
  "TWITTER_PROCESS_RETWEETS": false,
  "TWITTER_RECEIVER_START_AT_BOOT": true,
  "TWITTER_CHATBOT_SCREENNAME": "",
  "TWITTER_CHATBOT_START_AT_BOOT": true
}
